
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

/*
   General
   ========================================================================== */

body{
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #363636;
  background: #ededed;
  width: 100%;
  /*background-image: url('../images/bg.png');*/
}

a {
  /* orange links */
  color: #EC7263;
}

a:hover {
  /*color: #FF5B1B;*/
  color: #EC7263;
}

.tab-in {
  padding-left: 20px;
}

.btn {
  border-radius: 0px;
}

.btn-inverse {
  background-color: #eeeeee;
}

.btn-inverse:hover {
  background-color: white;
}

.container {
  width: 60%;
  margin-top: 80px;
  margin-bottom: 50px;
  background-color: #fff;
}

.font-bold {
  font-weight: bold;
}

.font-orange {
  color: #F0563D;
}

.box{
  margin-bottom: 15px;
}

.box h2{
  color: #EC7263;
  font-size: 1.8em;
  font-weight: 700;
}

.box h2:before{
  content: '//';
  margin-right: 5px;
}

.box p {
  font-size: 1.3em;
  line-height: 1.5em;
}

/*
   Website header
   ========================================================================== */

#download-cv {
  text-align: center;
  margin-top: 10px;
}

#btn-download-cv:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#header {
  margin-top: -75px;
}

#photo {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px;
  background: #ededed;
  display: inline-block;

  /* animation duration */
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

#photo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#text-header h1{
  margin: 0;
  padding: 0;
  font-size: 2.4em;
  /*font-weight: 700;*/
  letter-spacing: -1px;
}

#text-header h1::first-line{
  font-size: 1.5em;
  letter-spacing: -4px;
  font-weight: 800;
  line-height: 1.5em;
}

#text-header::after {
  height: 10px;
  margin-top: 15px;
}

#double-seperator {
  padding-top: 10px;
  padding-bottom: 20px;
}

#double-seperator > hr {
  /*border-color: black;*/
  margin-top: 3px;
  margin-bottom: 0px;
}

/*
   Languages
   ========================================================================== */
.skill {
  font-size: 1.3em;
  line-height: 1.5em;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.stars {
  width: 111px;
  height: 14px;
  background-image: url("../images/grey-stars.png");
}

.red-stars {
  background-image: url("../images/red-stars.png");
}

/*
   IT Skills
   ========================================================================== */

.label-skill {
  /*background-color: #A30263;*/
  background-color: #eeeeee;
  border-radius: 0px;
  color: #363636;
  /*color: white;*/
  display: inline-block;
  font-weight: normal;
  padding: 7px;
  font-size: 1.2em;
  margin-bottom: 3px;
}

/*
   Hobbies
   ========================================================================== */
.hobby {
  font-size: 1.3em;
}

.label-hobby {
  background-color: #EC7263;
  color: #363636;
  color: white;
  display: inline-block;
  font-weight: bold;
}

/*
   Contact
   ========================================================================== */
.input-group-addon {
  border-radius: 0px;
}

.contactMsg {
  width: 45%;
  margin: 0 auto;
  font-size: 1.5em;
  border-radius: 0px;
}

.contactMsg:after {
  top: -20px;
  right: 50px;
  bottom: auto;
  left: auto;
  border-width: 20px 20px 0 0;
  border-color: transparent #075698;
}

.form-control {
  border-radius: 0px;
}

.form-group {
  margin-bottom: 7px;
}

/**
*
* Paper shadow effect
* Found at: http://beemuse.com/paper
*
* For it to play nicely with bootstrap, the following
* customisation is needed.
*
**/

.paper:before, .paper:after {
  display: inline;
}

.changed-paul {
  background-color: rgb(252, 202, 202);
}
