/*
   grades
   ========================================================================== */

.table > tbody > tr > td {
    font-size: 1.2em;
    padding: 2px;
}

td:last-child {
    font-weight: bold;
    text-align: right;
}

/*
   Timeline stuff
   ========================================================================== */

#readmore-button:focus {
    outline: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.history hr {
  margin: 0px;
}

.history h2, h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
}

.history p, table {
  font-family: "Open Sans", sans-serif;
}

.history h3 {
  font-size: 10px;
  font-weight: inherit;
  margin: 5px 0px 5px 0px;
}

.timeline-container h1, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 2px;
}

.timeline-container h4 {
    font-size: 15px;
}

.timeline-container {
    width: 90%;
    max-width: 1170px;
}

@media (max-width: 600px) {
    .timeline-container {
        width: 85%;
    }
}

#timeline {
    position: relative;
}

#timeline::before {
    /* this is the orange vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #ea887c;
}

.timeline-block {
    position: relative;
    margin: 2em 0;
}

.timeline-block {
    margin: 1em 0;
}
.timeline-block:first-child {
    margin-top: 0;
}
.timeline-block:last-child {
    margin-bottom: 0;
}

.timeline-content {
    position: relative;
    margin-left: 60px;
    background: #eeeeee;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 1px 0 #dddddd;
    /*box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.31);*/
    width: 102.5%;
}

.timeline-content .cd-read-more, .timeline-content {
    display: inline-block;
}

.timeline-content .cd-read-more {
    float: right;
    border-radius: 0px;
}

.timeline-content::before {
    content: '';
    position: absolute;
    top: 14px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #eeeeee;
}

.timeline-year {
    position: absolute;
    padding-top: 1em;
    padding-bottom: 1em;
    /*border: dashed thin;*/
    left: 2px;
    background: white;
}

.year {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.now {
    width: 38px;
    text-align: center;
}

.subtitle {
    font-size: 10px;
    opacity: .7;
}

.subtle-link {
    color: #363636;
    border-bottom: 1px dashed #999;
}

.subtle-link:hover {
  color: #EC7263;
}

a:hover {
  color: #EC7263;
}

.no-decoration {
  text-decoration: none !important;
}
